@page "/"

<PageTitle>DAIKU</PageTitle>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat</title>

    <!-- BootstrapのCSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/DAIKU.css">
    <!-- Bootstrap,jqueryのJavaScript -->
    <script type="text/javascript" src="js/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/DAIKU.js"></script>
    <script type="text/javascript" src="js/comLib.js"></script>
    <script type="text/javascript" src="json/sample.json"></script>
</head>
<body style="overflow-y: auto;">
    <!-- タイトル Lv0-Lv1-Lv2-->
    <div class="flexbox flex-column" style="width:100vw;height:auto;">
        <div class="flexbox flex-row">
            <div class="flexbox" style="padding: 4px 0px; height:45px;">
                <ul style="color: #343a40;">
                    <img src="img/ai.png" width="72" height="27" style="margin-top: 9px;" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <b>DAIKU</b>&nbsp;&nbsp;v0.13a
                </ul>
                <ul style="color: #343a40;">
                    <button id="newChat" class="btn btn-primary"><img src="img/new.svg" width="24" height="24" />&nbsp; 新しいチャット</button>
                </ul>
            </div>
        </div>
        <hr>
        <hr>

        <!-- 左側のナビゲーション L2-->
        <div class="flexbox flex-row" style="width:100vw;height:93vh;">
            <div id="sidebarL" style="width:18vw;margin-top: 10px;margin-left: 8px;">
                <div id="chatselect0" class="mb-3 border chatsel" style="background-color: #e5eaf1d5;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1" Checked>
                        <label class="form-check-label" for="flexRadio1">
                            自動選択
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2">
                        <label class="form-check-label" for="flexRadio2">
                            領域選択
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio3">
                        <label class="form-check-label" for="flexRadio3">
                            エージェント選択
                        </label>
                    </div>
                </div>

                <!-- 領域/エージェントスクロール -->
                <div id="chatbox" name="scr1" class="mb-3 border rounded scr1" style="height:84%;padding: 0px;">
                    <div id="chatselect1" class="mb-3 border chatsel rounded">
                        &nbsp;-業務プロセス-
                        <div class="textBox">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck1" Checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">事業戦略/研究開発/製品企画</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck2">
                                <label class="form-check-label" for="flexSwitchCheckChecked">製品設計/試作</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck3">
                                <label class="form-check-label" for="flexSwitchCheckChecked">工程設計/設備設計/生産準備</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck4">
                                <label class="form-check-label" for="flexSwitchCheckChecked">生産/保全/生産管理/物流</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck5">
                                <label class="form-check-label" for="flexSwitchCheckChecked">市場/サービス</label>
                            </div>
                        </div>
                        &nbsp;-業務領域-
                        <div class="textBox">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck11" Checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Ｑ：品質/製品成立</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck12">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Ｃ：生産性向上/効率化</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck13">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Ｄ：開発期間短縮/変動力対応安全/環境</label>
                            </div>
                        </div>
                        &nbsp;-事務Ｇ-
                        <div class="textBox">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck21">
                                <label class="form-check-label" for="flexSwitchCheckChecked">エネマネＧ/エレフィ事業Ｇ</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck22">
                                <label class="form-check-label" for="flexSwitchCheckChecked">パワトレ事業Ｇ</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck23">
                                <label class="form-check-label" for="flexSwitchCheckChecked">先進デバイス事業Ｇ</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck24">
                                <label class="form-check-label" for="flexSwitchCheckChecked">モビエレ事業Ｇ</label>
                            </div>
                        </div>
                    </div>
                    <div id="chatselect2" class="mb-3 border chatsel rounded">
                        &nbsp;-エージェント-
                        <div class="textBox">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck31" Checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">MPDR-AI</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck32">
                                <label class="form-check-label" for="flexSwitchCheckChecked">保全ナレコミ</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck33">
                                <label class="form-check-label" for="flexSwitchCheckChecked">DDS9901 SSMMaster</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck34" Checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">AI･ビッグデータ･SQCポータルサイト</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck35">
                                <label class="form-check-label" for="flexSwitchCheckChecked">加工CAEナレッジリソースDB</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck36">
                                <label class="form-check-label" for="flexSwitchCheckChecked">パワトレDigital-Hub</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- メインコンテンツ Lv2-->
            <div class="flexbox" style="width:63vw;">
                <div id="main" style="height:93vh;">
                    <!-- メインスクロール -->
                    <div id="chatbox" name="scr2" class="mb-3 border rounded scr2" style="height:89%;">

                        <!---->
                        <div class="container my-4">
                            <div class="popover popR" role="tooltip" id="popover328533">
                                <div class="arrow arrow-left popL"></div>
                                <h3 class="popover-header"><img src="img/q.svg" width="24" height="24" />&nbsp;質問　&nbsp;&nbsp;&nbsp;<img src="img/copy.svg" width="24" height="24" alt="copy" onclick="alert('copyしました')" /></h3>
                                <div class="popover-body">・コンデンサの過去の不具合を教えてください</div>
                            </div>

                            <!---->
                            <div class="container my-4">
                                <div class="popover popL" role="tooltip" id="popover328533">
                                    <div class="arrow arrow-right popR"></div>
                                    <h3 class="popover-header">
                                        <img src="img/ai.svg" width="24" height="24" />
                                        &nbsp;回答　&nbsp;&nbsp;&nbsp;<img src="img/copy.svg" width="24" height="24" alt="copy" onclick="alert('copyしました')" />
                                    </h3>
                                    <div class="popover-body">
                                        \"エージェントからの回答の要約は以下の通りです。<br><br>### 同じ点<br>
                                        - 両エージェント（MPDR_AI_expertおよびSSMMater_expert）は、「コンデンサに関連する不具合」について言及しています。<br>
                                        - コンデンサの過去の不具合として、信頼性や性能に影響を与える事例が挙げられています。<br><br>### 食い違う点<br>
                                        - **MPDR_AI_expert**は具体的な不具合として「はんだの疲労破壊」と「チップコンデンサへの成形熱による不良」を述べていますが、詳細な説明は行っていません。<br>
                                        - **SSMMater_expert**は「出力電圧の特性変動」「はんだ不濡れ」「共振による異常摩耗」と具体的な不具合を挙げ、その原因や影響について詳細に説明しています。<br><br>
                                        ### 結論<br>コンデンサの不具合については異なる視点と具体的な事例が提示されています。MPDR_AI_expertは一般的な不具合の説明に留まっていますが、SSMMater_expertは特定の事例を挙げて不具合のメカニズムや影響を詳述しています。このため、コンデンサの不具合を理解するためには、SSMMater_expertの具体的な事例がより参考になると言えます。<br><br>
                                        以下、各エージェントの意見をそのまま記載します：<br><br>- **MPDR_AI_expert**: 「コンデンサの過去の不具合として、以下のような事例が挙げられます： 1. はんだの疲労破壊 2. チップコンデンサへの成形熱による不良 これらの不具合は、コンデンサの信頼性や性能に影響を及ぼす可能性があります。」<br><br>
                                        - **SSMMater_expert**: 「コンデンサに関連する過去の不具合について以下の事例があります： 1. **出力電圧の特性変動**：モールド樹脂の応力変動が大きく、ASSY製品での出力電圧の特性変動が問題となることがあります。 2. **はんだ不濡れ**：半田付けの際、裏面電極表面が酸化されることによって、はんだ不濡れが発生する場合があります。
                                        3. **共振による異常摩耗**：部品A間にコンデンサがある製品を使用した際に、P駆動中に部品A間のコンデンサとコントローラ内部の部品Bが共振し、部品Aが発熱し異常摩耗する事例が発生しています。 これらの事例は、コンデンサの設計や使用環境によって異なる不具合を引き起こす可能性があることを示しています。」\"

                                    </div>
                                </div>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!-- ボトム質問-->

                    <Load />

                    <SendBtn />

                </div>
            </div>

            <!-- 右側のナビゲーション Lv1-Lv2 -->
            <div class="flexbox" style="height: auto;">
                <div id="sidebarR" style="width: 18vw;">
                    &nbsp;<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;検索履歴</b>
                    <!-- タイトル Lv0-Lv1-Lv2
                    <table>
                          <tr>
                            <td><input type="text" id="searchInput" class="form-control" placeholder="履歴検索ワードを入力"></td>
                            <td><button id="searchButton" class="btn btn-secondary">&nbsp;検 索&nbsp;</button></td>
                          </tr>
                        </table>
                    -->
                    <br>
                    <div id="chatlist" class="mb-3 border rounded" style="padding:10px 10px 10px 10px;background-color: #e9ebef7d;">
                        <ol>
                            <li class="ellipsis">・サーマル製品である電動ファンの流体解析の事例を教えてください</li>
                            <li class="ellipsis">・コンデンサの過去の不具合を教えてください</li>
                            <li class="ellipsis">・半田付けでの不具合を教えてください</li>
                            <li class="ellipsis">・電源回路の不具合事例を教えてください</li>
                            <li class="ellipsis">・現行製品のハウジングの切削加工工程を、生産性向上のため部分的に変更しました。この変更に対する懸念点を教えてください</li>
                            <li class="ellipsis">・ハウジングの材質はADC12でダイカスト鋳造および切削加工で成形されている。懸念点を教えてください</li>
                            <li class="ellipsis">・燃料噴射装置の次期型製品を開発しています。現行製品に対しての変化点としてボデーの材質変更があるのですが懸念点を教えてください</li>
                            <li class="ellipsis">・インジェクタ組立ラインにて圧入不良が多発しました。設備として対処すべき方法を教えてください</li>
                            <li class="ellipsis">・組み立て機のプラチェーンが破損しました。類似の現象とこの時の対処方法を教えてください</li>
                            <li class="ellipsis">・仕上げ加工機が設備停止し、設備内を見ると、シリンダーから摩耗粉が出ています。生産復帰のための対処方法を教えてください</li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
